/*------------------------------------------------------------
	Footer
------------------------------------------------------------*/
.c-footer {
	width: 100%;
	padding: 100px 0 150px;
	text-align: center;
	background: #AFA6A6;
	color: black;
	.l-container{
		@include flex-jbetween;
		text-align: left;
		a{
			color: black;
			text-decoration: none;
		}
		dl{
			width: 25%;
		}
	}
}