/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/
.l-main {
	width: 100%;
	min-height: 600px;
	color: $color1;
	@include flex-center;
}
.l-container{
	padding: 0 5%;
}