header.c-header#header
  .l-container
    h1.c-header__logo
      a.logo-image(href=path+"/")
        img(src=path+"assets/images/logo.png", alt="logo alt")
    nav
      ul.nav-menu
        li.nav-menu_item.is_active
          a(href="#") Về Chúng Tôi
        li.nav-menu_item
          a(href=path+"/news/") Khóa Học
        li.nav-menu_item
          a(href="#") Blog
        li.nav-menu_item
          a(href="#") Ebook
        li.nav-menu_item
          a(href="#") Video